@import url('https://fonts.googleapis.com/css?family=Aleo:400,400i,700|Roboto:400,400i,700,900')

body
  font-family: Roboto, Arial, Helvetica, sans-serif
  font-weight: normal

.title
  font-family: Aleo, Courier New, Courier, monospace
  font-weight: 700
  color: $color-black

.subtitle
  font-family: Aleo, Courier New, Courier, monospace
  font-weight: 700
  color: $color-grey

.paragraph
  font-family: Roboto, Arial, Helvetica, sans-serif
  font-weight: normal
  color: $color-black