.bg-primary
  background-color: $color-primary !important
  
.bg-red
  background-color: $color-red !important

.bg-green
  background-color: $color-green !important

.bg-white
  background-color: $color-white !important

.bg-black
  background-color: $color-black !important

.text-primary
  color: $color-primary !important

.text-red
  color: $color-red !important

.text-green
  color: $color-green !important

.text-white
  color: $color-white !important

.text-black
  color: $color-black !important