/* Grid Vars
$gutter: 20%

/* Colors
$color-primary: #34bfe2
$color-green: #34e239
$color-red: #e23f34
$color-yellow: #f2bd0e
$color-white: #ffffff
$color-black: #211e1d
$color-grey: #474747
$color-lgrey: #c1c1c1

/* Viewports (higher than...)
$view-desktop-hd: 120rem
$view-desktop: 75rem 
$view-tablet: 40rem

/* Border roundens
$hard-corner: 0rem
$soft-corner: 0.5rem
$medium-corner: 1rem
$rounded-corner: 100rem