/* Variables
 * Functions
 * Mixins */
/* Grid Vars */
/* Colors */
/* Viewports (higher than...) */
/* Border roundens */
/* Dynamic flex-grid by leo-isso
 * You can find it at:
 * https://gist.github.com/leo-isso/fa32b86b9b49e6ac81d7cae85f56cf11 */
/* Columns mixins */
/* Viewport mixins */
/* Font mixins */
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,600,600i,700,700i");
/* line 3, ../sass/abstracts/_fonts.sass */
body {
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-weight: normal;
}

/* line 7, ../sass/abstracts/_fonts.sass */
p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

/* line 10, ../sass/abstracts/_fonts.sass */
.title, .title-spacing {
  margin: 0;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: #211e1d;
}
/* line 64, ../sass/abstracts/_mixins.sass */
.title-spacing {
  margin-bottom: 1.5rem;
}

/* line 17, ../sass/abstracts/_fonts.sass */
.subtitle, .subtitle-spacing {
  margin: 0;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: #474747;
}
/* line 64, ../sass/abstracts/_mixins.sass */
.subtitle-spacing {
  margin-bottom: 1.5rem;
}

/* line 24, ../sass/abstracts/_fonts.sass */
.paragraph, .paragraph-spacing {
  margin: 0;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #211e1d;
}
/* line 64, ../sass/abstracts/_mixins.sass */
.paragraph-spacing {
  margin-bottom: 1.5rem;
}

/* Background utils */
/* line 2, ../sass/abstracts/_utils.sass */
.bg-primary {
  background-color: #34bfe2 !important;
}

/* line 5, ../sass/abstracts/_utils.sass */
.bg-red {
  background-color: #e23f34 !important;
}

/* line 8, ../sass/abstracts/_utils.sass */
.bg-green {
  background-color: #34e239 !important;
}

/* line 11, ../sass/abstracts/_utils.sass */
.bg-white {
  background-color: #ffffff !important;
}

/* line 14, ../sass/abstracts/_utils.sass */
.bg-black {
  background-color: #211e1d !important;
}

/* line 17, ../sass/abstracts/_utils.sass */
.bg-grey {
  background-color: #474747 !important;
}

/* line 20, ../sass/abstracts/_utils.sass */
.bg-lgrey {
  background-color: #c1c1c1 !important;
}

/*Text utils */
/* line 24, ../sass/abstracts/_utils.sass */
.text-primary {
  color: #34bfe2 !important;
}

/* line 27, ../sass/abstracts/_utils.sass */
.text-red {
  color: #e23f34 !important;
}

/* line 30, ../sass/abstracts/_utils.sass */
.text-green {
  color: #34e239 !important;
}

/* line 33, ../sass/abstracts/_utils.sass */
.text-white {
  color: #ffffff !important;
}

/* line 36, ../sass/abstracts/_utils.sass */
.text-black {
  color: #211e1d !important;
}

/* line 39, ../sass/abstracts/_utils.sass */
.text-grey {
  color: #474747 !important;
}

/* line 42, ../sass/abstracts/_utils.sass */
.text-lgrey {
  color: #c1c1c1 !important;
}

/* line 45, ../sass/abstracts/_utils.sass */
.text-left {
  text-align: left !important;
}

/* line 48, ../sass/abstracts/_utils.sass */
.text-right {
  text-align: right !important;
}

/* line 51, ../sass/abstracts/_utils.sass */
.text-center {
  text-align: center !important;
}

/* line 54, ../sass/abstracts/_utils.sass */
.text-justify {
  text-align: justify !important;
}

/* Reset / Normalizer
 * Typography  */
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
/* line 11, ../sass/base/_normalize.scss */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
/* line 23, ../sass/base/_normalize.scss */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
/* line 31, ../sass/base/_normalize.scss */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
/* line 40, ../sass/base/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
/* line 53, ../sass/base/_normalize.scss */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
/* line 64, ../sass/base/_normalize.scss */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
/* line 76, ../sass/base/_normalize.scss */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
/* line 85, ../sass/base/_normalize.scss */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
/* line 95, ../sass/base/_normalize.scss */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
/* line 105, ../sass/base/_normalize.scss */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
/* line 116, ../sass/base/_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
/* line 125, ../sass/base/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 133, ../sass/base/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 137, ../sass/base/_normalize.scss */
sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
/* line 148, ../sass/base/_normalize.scss */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
/* line 160, ../sass/base/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
/* line 176, ../sass/base/_normalize.scss */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
/* line 186, ../sass/base/_normalize.scss */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
/* line 195, ../sass/base/_normalize.scss */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
/* line 206, ../sass/base/_normalize.scss */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
/* line 218, ../sass/base/_normalize.scss */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 0.1rem dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
/* line 229, ../sass/base/_normalize.scss */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
/* line 240, ../sass/base/_normalize.scss */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
/* line 253, ../sass/base/_normalize.scss */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
/* line 261, ../sass/base/_normalize.scss */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
/* line 270, ../sass/base/_normalize.scss */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
/* line 280, ../sass/base/_normalize.scss */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
/* line 290, ../sass/base/_normalize.scss */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -0.2rem;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
/* line 299, ../sass/base/_normalize.scss */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
/* line 308, ../sass/base/_normalize.scss */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
/* line 320, ../sass/base/_normalize.scss */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
/* line 328, ../sass/base/_normalize.scss */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
/* line 339, ../sass/base/_normalize.scss */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
/* line 347, ../sass/base/_normalize.scss */
[hidden] {
  display: none;
}

/* line 1, ../sass/base/_resets.sass */
html {
  font-size: 62.5%;
}

/* line 5, ../sass/base/_resets.sass */
body {
  font-size: 1.4rem;
}

/* Buttons, Dropdowns, Heros, Inputs */
/* line 1, ../sass/components/_native.sass */
.input, .textarea {
  border: 0.1rem solid #c1c1c1;
  border-radius: 0.3rem;
  padding: 0.5rem;
}
/* line 6, ../sass/components/_native.sass */
.input:focus, .textarea:focus {
  outline: #34bfe2 auto 0.5rem;
}

/* line 69, ../sass/abstracts/_mixins.sass */
.button, .button-primary, .button-green, .button-lgrey, .button-red, .button-yellow {
  background-color: #34bfe2;
  border: 0;
  border-radius: 0.5rem;
  color: #ffffff;
  cursor: pointer;
  padding: 1rem 2.5rem;
}
/* line 77, ../sass/abstracts/_mixins.sass */
.button:focus, .button-primary:focus, .button-green:focus, .button-lgrey:focus, .button-red:focus, .button-yellow:focus {
  outline: none;
}
/* line 80, ../sass/abstracts/_mixins.sass */
.button:hover, .button-primary:hover, .button-green:hover, .button-lgrey:hover, .button-red:hover, .button-yellow:hover {
  background-color: #1ca4c7;
}

/* line 84, ../sass/abstracts/_mixins.sass */
.button-primary {
  background-color: #34bfe2;
}
/* line 88, ../sass/abstracts/_mixins.sass */
.button-primary:hover {
  background-color: #1ca4c7;
}

/* line 84, ../sass/abstracts/_mixins.sass */
.button-green {
  background-color: #34e239;
}
/* line 88, ../sass/abstracts/_mixins.sass */
.button-green:hover {
  background-color: #1cc721;
}

/* line 84, ../sass/abstracts/_mixins.sass */
.button-lgrey {
  background-color: #c1c1c1;
}
/* line 88, ../sass/abstracts/_mixins.sass */
.button-lgrey:hover {
  background-color: #a8a8a8;
}

/* line 84, ../sass/abstracts/_mixins.sass */
.button-red {
  background-color: #e23f34;
}
/* line 88, ../sass/abstracts/_mixins.sass */
.button-red:hover {
  background-color: #c7271c;
}

/* line 84, ../sass/abstracts/_mixins.sass */
.button-yellow {
  background-color: #f2bd0e;
}
/* line 88, ../sass/abstracts/_mixins.sass */
.button-yellow:hover {
  background-color: #c3980a;
}

/* Grid
 * Row
 * Containers */
/* line 1, ../sass/layout/_containers.sass */
.container {
  max-width: 109.6rem;
  margin: 0 auto;
}

/* line 5, ../sass/layout/_grids.sass */
.columns-1 {
  width: 6.80556%;
}
/* line 36, ../sass/abstracts/_mixins.sass */
.columns-1.left-offset {
  margin-left: 1.66667%;
}
/* line 39, ../sass/abstracts/_mixins.sass */
.columns-1.right-offset {
  margin-right: 1.66667%;
}
/* line 42, ../sass/abstracts/_mixins.sass */
.columns-1:first-child {
  margin-left: 0;
}
/* line 45, ../sass/abstracts/_mixins.sass */
.columns-1:first-child:last-child {
  width: 8.33333%;
}

/* line 5, ../sass/layout/_grids.sass */
.columns-2 {
  width: 15.27778%;
}
/* line 36, ../sass/abstracts/_mixins.sass */
.columns-2.left-offset {
  margin-left: 1.66667%;
}
/* line 39, ../sass/abstracts/_mixins.sass */
.columns-2.right-offset {
  margin-right: 1.66667%;
}
/* line 42, ../sass/abstracts/_mixins.sass */
.columns-2:first-child {
  margin-left: 0;
}
/* line 45, ../sass/abstracts/_mixins.sass */
.columns-2:first-child:last-child {
  width: 16.66667%;
}

/* line 5, ../sass/layout/_grids.sass */
.columns-3 {
  width: 23.75%;
}
/* line 36, ../sass/abstracts/_mixins.sass */
.columns-3.left-offset {
  margin-left: 1.66667%;
}
/* line 39, ../sass/abstracts/_mixins.sass */
.columns-3.right-offset {
  margin-right: 1.66667%;
}
/* line 42, ../sass/abstracts/_mixins.sass */
.columns-3:first-child {
  margin-left: 0;
}
/* line 45, ../sass/abstracts/_mixins.sass */
.columns-3:first-child:last-child {
  width: 25%;
}

/* line 5, ../sass/layout/_grids.sass */
.columns-4 {
  width: 32.22222%;
}
/* line 36, ../sass/abstracts/_mixins.sass */
.columns-4.left-offset {
  margin-left: 1.66667%;
}
/* line 39, ../sass/abstracts/_mixins.sass */
.columns-4.right-offset {
  margin-right: 1.66667%;
}
/* line 42, ../sass/abstracts/_mixins.sass */
.columns-4:first-child {
  margin-left: 0;
}
/* line 45, ../sass/abstracts/_mixins.sass */
.columns-4:first-child:last-child {
  width: 33.33333%;
}

/* line 5, ../sass/layout/_grids.sass */
.columns-5 {
  width: 40.69444%;
}
/* line 36, ../sass/abstracts/_mixins.sass */
.columns-5.left-offset {
  margin-left: 1.66667%;
}
/* line 39, ../sass/abstracts/_mixins.sass */
.columns-5.right-offset {
  margin-right: 1.66667%;
}
/* line 42, ../sass/abstracts/_mixins.sass */
.columns-5:first-child {
  margin-left: 0;
}
/* line 45, ../sass/abstracts/_mixins.sass */
.columns-5:first-child:last-child {
  width: 41.66667%;
}

/* line 5, ../sass/layout/_grids.sass */
.columns-6 {
  width: 49.16667%;
}
/* line 36, ../sass/abstracts/_mixins.sass */
.columns-6.left-offset {
  margin-left: 1.66667%;
}
/* line 39, ../sass/abstracts/_mixins.sass */
.columns-6.right-offset {
  margin-right: 1.66667%;
}
/* line 42, ../sass/abstracts/_mixins.sass */
.columns-6:first-child {
  margin-left: 0;
}
/* line 45, ../sass/abstracts/_mixins.sass */
.columns-6:first-child:last-child {
  width: 50%;
}

/* line 5, ../sass/layout/_grids.sass */
.columns-7 {
  width: 57.63889%;
}
/* line 36, ../sass/abstracts/_mixins.sass */
.columns-7.left-offset {
  margin-left: 1.66667%;
}
/* line 39, ../sass/abstracts/_mixins.sass */
.columns-7.right-offset {
  margin-right: 1.66667%;
}
/* line 42, ../sass/abstracts/_mixins.sass */
.columns-7:first-child {
  margin-left: 0;
}
/* line 45, ../sass/abstracts/_mixins.sass */
.columns-7:first-child:last-child {
  width: 58.33333%;
}

/* line 5, ../sass/layout/_grids.sass */
.columns-8 {
  width: 66.11111%;
}
/* line 36, ../sass/abstracts/_mixins.sass */
.columns-8.left-offset {
  margin-left: 1.66667%;
}
/* line 39, ../sass/abstracts/_mixins.sass */
.columns-8.right-offset {
  margin-right: 1.66667%;
}
/* line 42, ../sass/abstracts/_mixins.sass */
.columns-8:first-child {
  margin-left: 0;
}
/* line 45, ../sass/abstracts/_mixins.sass */
.columns-8:first-child:last-child {
  width: 66.66667%;
}

/* line 5, ../sass/layout/_grids.sass */
.columns-9 {
  width: 74.58333%;
}
/* line 36, ../sass/abstracts/_mixins.sass */
.columns-9.left-offset {
  margin-left: 1.66667%;
}
/* line 39, ../sass/abstracts/_mixins.sass */
.columns-9.right-offset {
  margin-right: 1.66667%;
}
/* line 42, ../sass/abstracts/_mixins.sass */
.columns-9:first-child {
  margin-left: 0;
}
/* line 45, ../sass/abstracts/_mixins.sass */
.columns-9:first-child:last-child {
  width: 75%;
}

/* line 5, ../sass/layout/_grids.sass */
.columns-10 {
  width: 83.05556%;
}
/* line 36, ../sass/abstracts/_mixins.sass */
.columns-10.left-offset {
  margin-left: 1.66667%;
}
/* line 39, ../sass/abstracts/_mixins.sass */
.columns-10.right-offset {
  margin-right: 1.66667%;
}
/* line 42, ../sass/abstracts/_mixins.sass */
.columns-10:first-child {
  margin-left: 0;
}
/* line 45, ../sass/abstracts/_mixins.sass */
.columns-10:first-child:last-child {
  width: 83.33333%;
}

/* line 5, ../sass/layout/_grids.sass */
.columns-11 {
  width: 91.52778%;
}
/* line 36, ../sass/abstracts/_mixins.sass */
.columns-11.left-offset {
  margin-left: 1.66667%;
}
/* line 39, ../sass/abstracts/_mixins.sass */
.columns-11.right-offset {
  margin-right: 1.66667%;
}
/* line 42, ../sass/abstracts/_mixins.sass */
.columns-11:first-child {
  margin-left: 0;
}
/* line 45, ../sass/abstracts/_mixins.sass */
.columns-11:first-child:last-child {
  width: 91.66667%;
}

/* line 5, ../sass/layout/_grids.sass */
.columns-12 {
  width: 100%;
}
/* line 36, ../sass/abstracts/_mixins.sass */
.columns-12.left-offset {
  margin-left: 1.66667%;
}
/* line 39, ../sass/abstracts/_mixins.sass */
.columns-12.right-offset {
  margin-right: 1.66667%;
}
/* line 42, ../sass/abstracts/_mixins.sass */
.columns-12:first-child {
  margin-left: 0;
}
/* line 45, ../sass/abstracts/_mixins.sass */
.columns-12:first-child:last-child {
  width: 100%;
}

/* line 1, ../sass/layout/_rows.sass */
.row, .row-reverse {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  width: 100%;
}
/* line 8, ../sass/layout/_rows.sass */
.row-reverse {
  -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
}
