/* line 45, ../sass/test.sass */
.one.column {
  width: 6.80556%;
}
/* line 33, ../sass/test.sass */
.one.column.left-offset {
  margin-left: 1.66667%;
}
/* line 36, ../sass/test.sass */
.one.column.right-offset {
  margin-right: 1.66667%;
}
/* line 39, ../sass/test.sass */
.one.column:first-child {
  margin-left: 0;
}
/* line 42, ../sass/test.sass */
.one.column:first-child:last-child {
  width: 8.33333%;
}

/* line 47, ../sass/test.sass */
.six.column {
  width: 40.69444%;
}
/* line 33, ../sass/test.sass */
.six.column.left-offset {
  margin-left: 1.66667%;
}
/* line 36, ../sass/test.sass */
.six.column.right-offset {
  margin-right: 1.66667%;
}
/* line 39, ../sass/test.sass */
.six.column:first-child {
  margin-left: 0;
}
/* line 42, ../sass/test.sass */
.six.column:first-child:last-child {
  width: 41.66667%;
}

/* line 49, ../sass/test.sass */
.nine.column {
  width: 74.58333%;
}
/* line 33, ../sass/test.sass */
.nine.column.left-offset {
  margin-left: 1.66667%;
}
/* line 36, ../sass/test.sass */
.nine.column.right-offset {
  margin-right: 1.66667%;
}
/* line 39, ../sass/test.sass */
.nine.column:first-child {
  margin-left: 0;
}
/* line 42, ../sass/test.sass */
.nine.column:first-child:last-child {
  width: 75%;
}

/* line 52, ../sass/test.sass */
h1 {
  color: red;
}
