/* Variables
 * Functions
 * Mixins */
/* Grid Vars */
/* Colors */
@import url("https://fonts.googleapis.com/css?family=Aleo:400,400i,700|Roboto:400,400i,700,900");
/* line 3, ../../sass/abstracts/_fonts.sass */
body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: normal;
}

/* line 7, ../../sass/abstracts/_fonts.sass */
.title {
  font-family: Aleo, Courier New, Courier, monospace;
  font-weight: 700;
  color: #211e1d;
}

/* line 12, ../../sass/abstracts/_fonts.sass */
.subtitle {
  font-family: Aleo, Courier New, Courier, monospace;
  font-weight: 700;
  color: #474747;
}

/* line 17, ../../sass/abstracts/_fonts.sass */
.paragraph {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #211e1d;
}

/* Background utils */
/* line 2, ../../sass/abstracts/_utils.sass */
.bg-primary {
  background-color: #34bfe2 !important;
}

/* line 5, ../../sass/abstracts/_utils.sass */
.bg-red {
  background-color: #e23f34 !important;
}

/* line 8, ../../sass/abstracts/_utils.sass */
.bg-green {
  background-color: #34e239 !important;
}

/* line 11, ../../sass/abstracts/_utils.sass */
.bg-white {
  background-color: #ffffff !important;
}

/* line 14, ../../sass/abstracts/_utils.sass */
.bg-black {
  background-color: #211e1d !important;
}

/* line 17, ../../sass/abstracts/_utils.sass */
.bg-grey {
  background-color: #474747 !important;
}

/* line 20, ../../sass/abstracts/_utils.sass */
.bg-lgrey {
  background-color: #c1c1c1 !important;
}

/*Text utils */
/* line 24, ../../sass/abstracts/_utils.sass */
.text-primary {
  color: #34bfe2 !important;
}

/* line 27, ../../sass/abstracts/_utils.sass */
.text-red {
  color: #e23f34 !important;
}

/* line 30, ../../sass/abstracts/_utils.sass */
.text-green {
  color: #34e239 !important;
}

/* line 33, ../../sass/abstracts/_utils.sass */
.text-white {
  color: #ffffff !important;
}

/* line 36, ../../sass/abstracts/_utils.sass */
.text-black {
  color: #211e1d !important;
}

/* line 39, ../../sass/abstracts/_utils.sass */
.text-grey {
  color: #474747 !important;
}

/* line 42, ../../sass/abstracts/_utils.sass */
.text-lgrey {
  color: #c1c1c1 !important;
}

/* line 45, ../../sass/abstracts/_utils.sass */
.text-left {
  text-align: left !important;
}

/* line 48, ../../sass/abstracts/_utils.sass */
.text-right {
  text-align: right !important;
}

/* line 51, ../../sass/abstracts/_utils.sass */
.text-center {
  text-align: center !important;
}

/* line 54, ../../sass/abstracts/_utils.sass */
.text-justify {
  text-align: justify !important;
}
