/* Variables
 * Functions
 * Mixins */
/* Grid Vars */
/* Colors */
@import url("https://fonts.googleapis.com/css?family=Aleo:400,400i,700|Roboto:400,400i,700,900");
/* line 3, ../../sass/abstracts/_fonts.sass */
body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: normal;
}

/* line 7, ../../sass/abstracts/_fonts.sass */
.title {
  font-family: Aleo, Courier New, Courier, monospace;
  font-weight: 700;
  color: #211e1d;
}

/* line 12, ../../sass/abstracts/_fonts.sass */
.subtitle {
  font-family: Aleo, Courier New, Courier, monospace;
  font-weight: 700;
  color: #474747;
}

/* line 17, ../../sass/abstracts/_fonts.sass */
.paragraph {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #211e1d;
}

/* line 1, ../../sass/abstracts/_utils.sass */
.bg-primary {
  background-color: #34bfe2 !important;
}

/* line 4, ../../sass/abstracts/_utils.sass */
.bg-red {
  background-color: #e23f34 !important;
}

/* line 7, ../../sass/abstracts/_utils.sass */
.bg-green {
  background-color: #34e239 !important;
}

/* line 10, ../../sass/abstracts/_utils.sass */
.bg-white {
  background-color: #ffffff !important;
}

/* line 13, ../../sass/abstracts/_utils.sass */
.bg-black {
  background-color: #211e1d !important;
}

/* line 16, ../../sass/abstracts/_utils.sass */
.bg-grey {
  background-color: #474747 !important;
}

/* line 19, ../../sass/abstracts/_utils.sass */
.bg-lgrey {
  background-color: #c1c1c1 !important;
}

/* line 22, ../../sass/abstracts/_utils.sass */
.text-primary {
  color: #34bfe2 !important;
}

/* line 25, ../../sass/abstracts/_utils.sass */
.text-red {
  color: #e23f34 !important;
}

/* line 28, ../../sass/abstracts/_utils.sass */
.text-green {
  color: #34e239 !important;
}

/* line 31, ../../sass/abstracts/_utils.sass */
.text-white {
  color: #ffffff !important;
}

/* line 34, ../../sass/abstracts/_utils.sass */
.text-black {
  color: #211e1d !important;
}

/* line 37, ../../sass/abstracts/_utils.sass */
.text-grey {
  color: #474747 !important;
}

/* line 40, ../../sass/abstracts/_utils.sass */
.text-lgrey {
  color: #c1c1c1 !important;
}
